<!DOCTYPE html>

<html>
 <head>
   <title>About</title>
   <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- <script src="/js/app.js"></script> --}}
 </head>

<body>
    {{!-- inject the value using two {{}} --}}
    {{!-- <h1>{{title}}</h1> --}}
   <div class="main-content">
      {{>header}}
      <img class="portrait" src="/img/tom-barrett-hgGplX3PFBg-unsplash.jpg">
   </div>
     {{>footer }}

</body>


</html>