<!DOCTYPE html>

<html>
 <head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- <script src="/js/app.js"></script> --}}
 </head>

<body>
    {{!-- inject the value using two {{}} -- render the value using {{>name}}}} --}}
    <div>
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    {{>footer}}

</body>


</html>